*.swo
*.swp
.DS_Store
.env
.env.*
.hugo_build.lock
.idea/
.vscode/
hugo_stats.json
node_modules/
npm-debug.log*
package-lock.json
public/
resources/_gen/
Thumbs.db
yarn-debug.log*
yarn-error.log*
yarn.lock